body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

/* CSS for the sidebar */
#sidebar {
  background-color: #f9f9f9;
  border-right: 1px solid #ccc;
  padding: 1rem;
}

ul {
  list-style-type: none;
  padding-left: 20px;
  margin: 0;
}

ul ul {
  display: none;
}

.folder::before {
  content: "📂";
  margin-right: 5px;
}

.file::before {
  content: "📄";
  margin-right: 5px;
}

.folder,
.file {
  cursor: pointer;
}

.arrow {
  display: inline-block;
  width: 20px;
}

.selected {
  background-color: #e0e0e0;
}

/* CSS for the main content */
#main {
  flex-grow: 1;
  padding: 1rem;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 0.8rem;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #f4f4f4;
}

tr:hover {
  background-color: #f1f1f1;
}

/* Responsive layout for larger screens */
@media (min-width: 768px) {
  body {
    display: grid;
    grid-template-columns: 300px 1fr; /* Sidebar and main content */
    grid-template-rows: auto;
    height: 98vh;
  }

  #sidebar {
    grid-column: 1;
    grid-row: 1;
    height: 100%;
  }

  #main {
    grid-column: 2;
    grid-row: 1;
    overflow-y: auto;
  }
}

/* For smaller screens */
@media (max-width: 767px) {
  body {
    display: flex;
    flex-direction: column;
  }

  #sidebar {
    width: 100%; /* Sidebar spans full width on small screens */
  }

  #main {
    flex-grow: 1;
  }
}